header {
  background-color: #eca451;
  color: #000000;
  justify-content: center;
  border-bottom: lightgray solid 1px;
}

#main-header h1 {
  display: none;
}

#main-header, #main-header h1 {
  flex: 1;
  color: #000000;
  text-decoration: none;
  margin: 0 0.5rem;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  width: max-content;
}

#header-nav {
  padding: 0.5rem 5% 0.5rem 0;
  margin: auto;
}

.nav-link {
  margin: 0 0.5rem;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.nav-link:hover {
  border-bottom: #000000 solid 2px;
}

#logo {
  height: 2.5em;
  margin: 0.5em 0;
}

#try-it {
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

#try-it:hover {
  border-bottom: unset;
  color: gold;
}

@media screen and (min-width:800px) {
  #main-header h1 {
    display: inline;
  }
}