.error-message {
  color: rgb(214, 0, 0);
  margin: 1rem auto;
  font-size: medium;
  text-align: center;
}

.loading-message {
  display: block;
  animation-name: blinking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  align-self: center;
  margin: 0.5rem auto;
}

@keyframes blinking {
  from {
    color: #000000;
  }
  to {
    color: #ffffff;
  }
}